<% layout('layouts/boilerplate') -%>


  
  <div class="row mt-3">     <!-- hew i create row  -->
  
    <div class="col-8 offset-2">     <!--  here i divide row in 8 cols -->
    
  <h1>Edit Your Listing</h1>

  <form method="POST" action="/listings/<%=listing._id%>?_method=PUT"   novalidate class="needs-validation" enctype="multipart/form-data">

    <div class="mb-3">
      
      <label for="title" class="form-label">Title</label>
    <input type="text"   name="listing[title]"  placeholder="Title, <%= listing.title %>" value="<%= listing.title %>" class="form-control" required>
    
    <div class="invalid-feedback">Enter a valid title </div>   
  
  </div>

    <div class="mb-3">
      
      <label for="title" class="form-label">Description</label>
    <input type="text"  name="listing[description]" placeholder="Description, <%= listing.description %>" value="<%= listing.description %>" class="form-control" required>
   
    <div class="invalid-feedback">Enter a valid description</div>   
  
  
  </div>





    <div class="row">

      <div class="mb-3 col-3 col-md-4">
      
        <label for="title" class="form-label">Price </label>
      <input type="text"   name="listing[price]"  placeholder="Price", <%= listing.price %>" value="<%= listing.price %>" class="form-control" required>
      <div class="invalid-feedback">Enter a valid price  </div>   
  
    
    </div>

    
      <div class="mb-3 col-md-8">
 
        <label for="title" class="form-label">Country</label>
      <input type="text"   name="listing[country]"  placeholder="Country, <%= listing.country %>" value="<%= listing.country %>" class="form-control" required>
    
    </div>
    <div class="invalid-feedback">Enter a valid country </div>   
  
    </div>
   


    <div class="mb-3">
      
      <label for="title" class="form-label">Location</label>
    <input type="text"   name="listing[location]" placeholder="Location, <%= listing.location %>" value="<%= listing.location %>" class="form-control" required>
    
    <div class="invalid-feedback">Enter a valid location </div>   
  
  </div>
<div class="mb-3" id="xyz">
<h6>original listing image </h6>
<img src="<%=originalImageUrl%>"  class="img-thumbnail w-25">

</div>
    <div class="mb-3">
   
      <label for="title" class="form-label">Upload  new Image</label>
      <input type="file"   name="listing[image]"    class="form-control" >
      <div class="invalid-feedback">Enter a valid image </div>   
  </div>

  
  
  <button class="btn btn-dark add-btn mt-2" type="submit">Edit</button>

 
  </form>

    </div>
  </div>
